.movie-card {
  border: 1px solid #e8e8e8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0px;
}

.movie-card__rate {
  font-size: 16px;
}
.movie-card__space-spin {
  height: 219px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-card__loading-spinner {
  color: grey;
}

.movie-card__col-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.movie-card__card-meta-title {
  font-size: 12px;
  margin-left: 18px;
  margin-top: 8px;
  max-width: 200px;
  word-wrap: break-word;
  height: auto;
  margin-bottom: 0px;
}

.image-placeholder {
  width: 100px;
}

@media (max-width: 992px) {

.image-placeholder {

    max-width: 60px;
}
  .movie-card__image {
    min-width: 60px;
    max-width: 130px;
  } 
}
@media (max-width: 576px) {
  .movie-card__col-content-container {
    flex-direction: column;
    align-items: left;
  }
}
.date-info {
  font-size: 12px;
  color: #827e7e;
  margin-top: 0px;
}
.movie-card__card-description {
  font-size: 12px;
  margin: 8px;
}

.rating-wrapper {
  margin-top: auto;
}

.parent {
  display: grid;
  grid-template-columns: 150px;
  grid-template-rows: 34px 22px 20px 129px 46px;
  grid-column-gap: 8px;
  grid-row-gap: 0px;
}
.poster-wrapper {
  grid-area: 1 / 1 / 6 / 2;
}
.head-wrapper {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.releaseDate-wrapper {
  grid-area: 2 / 2 / 3 / 3;
}
.genreTags-wrapper {
  grid-area: 3 / 2 / 4 / 3;
}
.card-description-wrapper {
  margin-top: 10px;
  grid-area: 4 / 2 / 5 / 3;
}
.card-rate-wrapper {
  grid-area: 5 / 2 / 6 / 3;
}

.movie-card__image {
  max-height: 226px;
}

.card {
  max-height: 280px;
}

@media (max-width: 720px) {
  .movie-card__image {
    max-height: 91px;
  }
  .parent {
    display: grid;
    grid-template-columns: 60px;
    grid-template-rows: 34px 22px 30px 105px 30px;
    grid-column-gap: 8px;
    grid-row-gap: 0px;
  }

  .poster-wrapper {
    grid-area: 1 / 1 / 4 / 2;
  }
  .head-wrapper {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .releaseDate-wrapper {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    align-items: center;
  }
  .genreTags-wrapper {
    grid-area: 3 / 2 / 4 / 3;
  }
  .card-description-wrapper {
    grid-area: 4 / 1 / 5 / 3;
  }
  .card-rate-wrapper {
    display: flex;
    justify-self: end;
    margin-top: 10px;
    grid-area: 5 / 1 / 6 / 3;
  }
}
