.rating-circle {
  width: 30px;
  height: 30px;
  border: 2px solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating-nimber {
  font-size: 26px;
  font-weight: bold;
}

.red {
  border-color: red;
}

.orange {
  border-color: #e97e00;
}

.yellow {
  border-color: #e9d100;
}

.green {
  border-color: #66e900;
}
